header{
    background-color: #4A0E73;
    color: #FFEAF8;
    padding: 15px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60px;
    height: auto;
    margin-right: 15px;
}

/** width="50" height="50"  **/

.logo:hover{
    animation: vibrar 0.2s infinite;
}

@keyframes vibrar{
    0%   { transform: translateX(0); }
    25%  { transform: translateX(-2px); }
    50%  { transform: translateX(2px); }
    75%  { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}

.foto{
    transition: 0.3s;
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.foto:hover{
    filter: grayscale(100%);
}

table{
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
}

th{
    background-color: #B517D6;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even){
    background-color: #F7E6F5;
}

tr:hover{
    background-color: #F0CFF0;
    transition: 0.3s;
}